
Analyzing the following files: [90mside-menu.css
[39m
FILE: [36mside-menu.css[39m
STATUS: [35mBusted[39m
FAILURES: [35m28 failures[39m

[36mId's should not be styled[39m
[90m       8. [39m[35m#[39mlayout

[36mId's should not be styled[39m
[90m       9. [39m[35m#[39mmenu

[36mIncorrect property order for rule[35m "#layout, #menu, .menu-link"[39m[90m

  Correct order below:
[39m[39m
[90m      11. [39m -webkit-transform: translate3d(0, 0, 0);
[90m      12. [39m transform: translate3d(0, 0, 0);
[90m      13. [39m -webkit-transition: all 0.2s ease-out;
[90m      14. [39m -moz-transition: all 0.2s ease-out;
[90m      15. [39m -ms-transition: all 0.2s ease-out;
[90m      16. [39m -o-transition: all 0.2s ease-out;
[90m      17. [39m transition: all 0.2s ease-out;

[36mId's should not be styled[39m
[90m      23. [39m[35m#[39mlayout

[36mIncorrect property order for rule[35m "#layout"[39m[90m

  Correct order below:
[39m[39m
[90m      24. [39m left: 0;
[90m      25. [39m padding-left: 280px;

[36mIncorrect property order for rule[35m ".content"[39m[90m

  Correct order below:
[39m[39m
[90m      32. [39m max-width: 800px;
[90m      33. [39m padding: 0 2em;
[90m      34. [39m margin: 0 auto;
[90m      35. [39m margin-bottom: 50px;
[90m      36. [39m line-height: 1.6em;

[36mIncorrect property order for rule[35m ".header"[39m[90m

  Correct order below:
[39m[39m
[90m      40. [39m padding: 2.5em 2em 0;
[90m      41. [39m margin: 0;
[90m      42. [39m color: #333;
[90m      43. [39m text-align: center;
[90m      44. [39m border-bottom: 1px solid #eee;

[36mIncorrect property order for rule[35m ".header h2"[39m[90m

  Correct order below:
[39m[39m
[90m      52. [39m padding: 0;
[90m      53. [39m margin-top: 0;
[90m      54. [39m font-weight: 300;
[90m      55. [39m color: #ccc;

[36mId's should not be styled[39m
[90m      71. [39m[35m#[39mmenu

[36mUnknown property name: "-webkit-overflow-scroll"[39m
[36mIncorrect property order for rule[35m "#menu"[39m[90m

  Correct order below:
[39m[39m
[90m      72. [39m position: fixed;
[90m      73. [39m top: 0;
[90m      74. [39m bottom: 0;
[90m      75. [39m left: 280px;
[90m      76. [39m z-index: 10;
[90m      77. [39m width: 280px;
[90m      78. [39m margin-left: -280px;
[90m      79. [39m overflow-y: auto;
[90m      80. [39m background: #ff9374;
[90m      81. [39m -webkit-overflow-scroll: touch;

[36mId's should not be styled[39m
[90m      86. [39m[35m#[39mmenu

[36mIncorrect property order for rule[35m "#menu a"[39m[90m

  Correct order below:
[39m[39m
[90m      87. [39m padding: 0.6em 0 0.6em 0.6em;
[90m      88. [39m color: #5b2a00 /*#fff*/;
[90m      89. [39m border: none;

[36mId's should not be styled[39m
[90m      95. [39m[35m#[39mmenu

[36mId's should not be styled[39m
[90m      96. [39m[35m#[39mmenu

[36mIncorrect property order for rule[35m "#menu .pure-menu, #menu .pure-menu ul"[39m[90m

  Correct order below:
[39m[39m
[90m      97. [39m background: transparent;
[90m      98. [39m border: none;

[36mId's should not be styled[39m
[90m     104. [39m[35m#[39mmenu

[36mId's should not be styled[39m
[90m     105. [39m[35m#[39mmenu

[36mId's should not be styled[39m
[90m     111. [39m[35m#[39mmenu

[36mId's should not be styled[39m
[90m     112. [39m[35m#[39mmenu

[36mId's should not be styled[39m
[90m     113. [39m[35m#[39mmenu

[36mIncorrect property order for rule[35m "#menu .pure-menu-selected, #menu .pure-menu li a:hover, #menu .pure-menu li a:focus"[39m[90m

  Correct order below:
[39m[39m
[90m     114. [39m color: #fff;
[90m     115. [39m background: #ff6600;

[36mId's should not be styled[39m
[90m     121. [39m[35m#[39mmenu

[36mId's should not be styled[39m
[90m     127. [39m[35m#[39mmenu

[36mId's should not be styled[39m
[90m     134. [39m[35m#[39mmenu

[36mIncorrect property order for rule[35m "#menu .pure-menu-heading"[39m[90m

  Correct order below:
[39m[39m
[90m     135. [39m margin: 0;
[90m     136. [39m font-size: 110%;
[90m     137. [39m color: #fff;

[36mIncorrect property order for rule[35m ".menu-link"[39m[90m

  Correct order below:
[39m[39m
[90m     152. [39m top: 0;
[90m     153. [39m left: 280px;
[90m     154. [39m z-index: 10;
[90m     155. [39m display: none;
[90m     156. [39m width: 2em;
[90m     157. [39m height: auto;
[90m     158. [39m padding: 2.2em 1.6em;
[90m     159. [39m font-size: 10px;
[90m     160. [39m background: #000;

[36mIncorrect property order for rule[35m ".menu-link span, .menu-link span:before, .menu-link span:after"[39m[90m

  Correct order below:
[39m[39m
[90m     176. [39m width: 100%;
[90m     177. [39m height: 0.2em;
[90m     178. [39m background-color: #fff;

