html, body{
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}
pagenavigator{
	display: block;
	width: 300%;
	height: 100%;
	position: absolute;
	left: -100%;
}
page{
	box-sizing:border-box;
	height: 100%;
	width: 33.33%;
	float:left;
	/*padding: 20px;*/
}
.block{
	width: 100%;
	height: 100%;
}
/*.red{
	background: #800000;
}
.green{
	background: #008000;
}
.blue{
	background: #000080;
}*/
.slide-animation{
	transition: -webkit-transform .250s ease-out;
}